{% extends "base.html" %}
{% block title %}
    |{{ course.title }}
{% endblock title %}
{% block content %}
    <section class="course_detail">
        <div class="container">
            <div class="row">
                <div class="course_detail__info">
                    <div class="course_detail__image">
                        <img src="{{ MEDIA_URL }}{{ course.poster.url }}" alt="">
                    </div>
                    <div class="course_detail__text">
                        <div class="course_detail__level">
                            <h5>{{ course.level }}</h5>
                        </div>
                        <div class="course_detail__title">
                            <h1>{{ course.title }}</h1>
                        </div>
                        <div class="course_detail__description">
                            <h4>{{ course.description|safe }}</h4>
                        </div>
                        <div class="course_detail__price">
                            <h4>{{ course.price }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
