{% extends "base.html" %}
{% block title %}
    |{{ lesson.title }}
{% endblock title %}
{% block content %}
    <section class="lesson_title">
        <div class="container">
            <div class="row">
                <div class="lesson_title__title">
                    {% if not is_available %}
                        <h1>Вам недоступен этот курс!</h1>
                        <h3>Для получения доступа обратитесь к администрации.</h3>
                    {% else %}
                        <h1>{{ lesson.title }}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="section-lesson">
        <div class="container">
            <div class="row">
                <div class="lesson">
                    <div class="lesson_plan">
                        <div class="lesson_plan__title">
                            <h2>План урока:</h2>
                        </div>
                        <div class="lesson_plan_theory_part">
                            <div class="lesson_plan_part_info">
                                <div class="lesson_plan_part_info__title">
                                    <button onclick="selectionPartOfLesson('exercises_{{ theory_part.slug }}')">
                                        <h4>{{ theory_part.title }}</h4>
                                    </button>
                                </div>
                                <div class="lesson_plan_part_info__progress_bar">
                                    <h4>{{ theory_completed_exercises.count }}/{{ theory_part.exercises.count }}</h4>
                                </div>
                            </div>
                            <div class="lesson_plan_theory_part_exercises">
                                {% for exercise in theory_part.exercises.all %}
                                    <div class="lesson_plan_part_exercise__title">
                                        <a id="test_{{ exercise.number }}"
                                           href="#exercise_theory_{{ exercise.number }}">{{ exercise.number }}.{{ exercise.title }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="lesson_plan_practical_part">
                            <div class="lesson_plan_part_info">
                                <div class="lesson_plan_part_info__title">
                                    <button onclick="selectionPartOfLesson('exercises_{{ practical_part.slug }}')">
                                        <h4>{{ practical_part.title }}</h4>
                                    </button>
                                </div>
                                <div class="lesson_plan_part_info__progress_bar">
                                    <h4>{{ practical_part_completed_exercises.count }}/{{ practical_part.exercises.count }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="lesson_plan_homework_part">
                            <div class="lesson_plan_part_info">
                                <div class="lesson_plan_part_info__title">
                                    <button onclick="selectionPartOfLesson('exercises_{{ homework_part.slug }}')">
                                        <h4>{{ homework_part.title }}</h4>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="exercises_list">
                        <div class="exercises_theory">
                            {% for exercise in theory_part.exercises.all %}
                                <div class="exercise_theory" id="exercise_theory_{{ exercise.number }}">
                                    <div class="exercise__title">
                                        <h2>{{ exercise.number }}.{{ exercise.title }}</h2>
                                    </div>
                                    <div class="exercise__body">
                                        <div class="exercise__video">
                                            {% if exercise.video %}
                                                <h5>Посмотрите видеозапись</h5>
                                                <video controls="controls">
                                                    <source src="{{ MEDIA_URL }} {{ exercise.video.url }}" type="video/mp4" />
                                                </video>
                                            {% endif %}
                                        </div>
                                        <div class="exercise__audio">
                                            {% if exercise.audio %}
                                                <h5>Послушайте аудиозапись</h5>
                                                <audio controls="controls">
                                                    <source src="{{ MEDIA_URL }} {{ exercise.audio.url }}" type="audio/mpeg" />
                                                </audio>
                                            {% endif %}
                                        </div>
                                        <div class="exercise__text">{{ exercise.text|safe }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="exercises_practical">
                            <div class="exercises_practical__list">
                                {% for exercise in practical_part.exercises.all %}
                                    <div class="exercise_practical{% if exercise.pk in practical_part_completed_exercises %}__completed{% endif %}__link">
                                        <button onclick="selectionExercise({{ exercise.number }})">{{ exercise.number }}</button>
                                    </div>
                                {% endfor %}
                            </div>
                            {% for exercise in practical_part.exercises.all %}
                                <div class="exercise_practical" id="{{ exercise.number }}">
                                    <div class="exercise__title">
                                        <h2>{{ exercise.number }}.{{ exercise.title }}</h2>
                                    </div>
                                    <div class="exercise__body">
                                        <div class="exercise__video">
                                            {% if exercise.video %}
                                                <h5>Посмотрите видеозапись</h5>
                                                <video controls="controls">
                                                    <source src="{{ MEDIA_URL }} {{ exercise.video.url }}" type="video/mp4" />
                                                </video>
                                            {% endif %}
                                        </div>
                                        <div class="exercise__audio">
                                            {% if exercise.audio %}
                                                <h5>Послушайте аудиозапись</h5>
                                                <audio controls="controls">
                                                    <source src="{{ MEDIA_URL }} {{ exercise.audio.url }}" type="audio/mpeg" />
                                                </audio>
                                            {% endif %}
                                        </div>
                                        <div class="exercise__text">{{ exercise.text|safe }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="exercises_homework">
                            {% for exercise in homework_part.exercises.all %}
                                <div class="exercise_homework">
                                    <div class="exercise__title">
                                        <h2>{{ exercise.title }}</h2>
                                    </div>
                                    <div class="exercise__body">
                                        <div class="exercise__video">
                                            {% if exercise.video %}
                                                <h5>Посмотрите видеозапись</h5>
                                                <video controls="controls">
                                                    <source src="{{ MEDIA_URL }} {{ exercise.video.url }}" type="video/mp4" />
                                                </video>
                                            {% endif %}
                                        </div>
                                        <div class="exercise__audio">
                                            {% if exercise.audio %}
                                                <h5>Послушайте аудиозапись</h5>
                                                <audio controls="controls">
                                                    <source src="{{ MEDIA_URL }} {{ exercise.audio.url }}" type="audio/mpeg" />
                                                </audio>
                                            {% endif %}
                                        </div>
                                        <div class="exercise__text">{{ exercise.text|safe }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    {% for part_of_lesson in parts_of_lesson_data %}#}
    {#                            <h1>{{ part_of_lesson.part_of_lesson.title }}</h1>#}
    {#                            <div></div>#}
    {#                            Количество пройденных упражнений: {{ part_of_lesson.completed_exercises.count }}#}
    {#                            <div></div>#}
    {#                            {% for exercise in part_of_lesson.part_of_lesson.exercises.all %}#}
    {#                                {{ exercise.title }}#}
    {#                                {{ exercise.text|safe }}#}
    {#                                <div></div>#}
    {#                            {% endfor %}#}
    {#                        {% endfor %}#}
    {#                    {% endif %}#}
{% endblock content %}
