{% extends "base.html" %}
{% block title %}
    | Профиль {{ profile.username }}
{% endblock title %}
{% block content %}
    {% load tz %}
    {% load static %}
    <section class="profile__title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="title_text">
                        <h2>Профиль</h2>
                        <h4>
                            {% for message in messages %}<div class="message_{{ message.tags }}">{{ message }}</div>{% endfor %}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="{% if profile.username != user.username %}another_{% endif %}profile_detail">
        <div class="profile_detail_top">
            <div class="profile_detail__title">
                <img class="profile_detail__icon"
                     src="{{ MEDIA_URL }}{{ profile.avatar.url }}"
                     alt="ups">
                <div class="profile_detail__text">
                    <h2>Имя пользователя: {{ profile.username }}</h2>
                    {% localtime on %}
                    <h2>{{ profile.get_online_info }}</h2>
                {% endlocaltime %}
                {% if profile.last_name %}<h2>Фамилия: {{ profile.last_name }}</h2>{% endif %}
                {% if profile.first_name %}<h2>Имя: {{ profile.first_name }}</h2>{% endif %}
                {% if profile.date_of_birth %}<h2>Дата рождения: {{ profile.date_of_birth }}</h2>{% endif %}
                {% if is_authenticated %}
                    {% if user.username == profile.username %}
                        <a href="{% url 'edit_profile' profile.slug %}">
                            <h5 class="profile_detail__link__text">Редактировать профиль</h5>
                        </a>
                        <a href="{% url 'logout' %}">
                            <h6>Выйти из аккаунта</h6>
                        </a>
                    {% else %}
                        <a href="{% url 'follow' profile.slug %}">
                            <h4 class="profile_detail__link__text">
                                {% if is_followed %}
                                    Отписаться
                                {% else %}
                                    Подписаться
                                {% endif %}
                            </h4>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if is_authenticated %}
            {% if user.username == profile.username %}
                <div class="profile_courses">
                    <div class="profile_courses__title">
                        {% if not courses_data %}
                            <h2>У вас нет доступных курсов</h2>
                        {% else %}
                            <h2>Доступные курсы:</h2>
                        {% endif %}
                    </div>
                    {% for course_data in courses_data %}
                        <div class="profile_course">
                            <div class="profile_course_head">
                                <div class="profile_course__poster">
                                    <img src="{{ MEDIA_URL }}{{ course_data.course.poster.url }}" alt="Упс">
                                </div>
                            </div>
                            <div class="profile_course_body">
                                <div class="profile_course__title">
                                    <a href="{% url "passing_course" course_data.course.slug %}">
                                        <h3>{{ course_data.course.title }}</h3>
                                    </a>
                                </div>
                                <div class="profile_course__completed_lessons">
                                    <h3>{{ course_data.completed_lessons }}/{{ course_data.lessons }}</h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if is_authenticated %}
        {% if user.username == profile.username %}
            <div class="profile_detail_bottom">
                <div class="profile_rating">
                    <div class="rating_button">
                        <button class="week_activity_button"
                                onclick="changeVisionRating('month_activity_button', 'top_rating_button', 'self_rating_week')">
                            Активность за неделю
                        </button>
                        <button class="month_activity_button"
                                onclick="changeVisionRating('week_activity_button', 'top_rating_button', 'self_rating_month')">
                            Активность за месяц
                        </button>
                        <button class="top_rating_button"
                                onclick="changeVisionRating('month_activity_button', 'week_activity_button', 'top_rating')">
                            Топ рейтинга
                        </button>
                    </div>
                    <div class="self_rating">
                        <div class="self_rating_month">
                            <div class="self_rating_month_data" id="self_rating_month_data">{{ month_days_online }}</div>
                            <canvas class="rating_canvas" id="month_online"></canvas>
                        </div>
                        <div class="self_rating_week">
                            <div class="self_rating_week_data" id="self_rating_week_data">{{ week_days_online }}</div>
                            <canvas class="rating_canvas" id="week_online"></canvas>
                        </div>
                    </div>
                    <div class="top_rating">
                        <div class="top_rating__title">
                            <h4>Рейтинг по активности</h4>
                        </div>
                        <div class="top_rating_data">
                            {% for top_online in top_onlines %}
                                <div class="top_rating__user">
                                    <div class="top_rating__profile">
                                        <div class="top_rating_profile__avatar">
                                            <img src="{{ MEDIA_URL }}{{ top_online.user.avatar.url }}"
                                                 alt="{% static 'images/default-avatar.png' %}">
                                        </div>
                                        <div class="top_rating_profile__username">
                                            <a href="{% url 'profile' top_online.user.slug %}">
                                                <h6>{{ top_online.user.username }}</h6>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="top_rating__online">
                                        {% with time_online=top_online.time_online %}
                                            <h6>
                                                {{ time_online }}
                                                {% if time_online|add:"-1"|divisibleby:10 and not time_online|stringformat:"s"|slice:"-2:" == "11" %}
                                                    минута
                                                {% elif time_online in "2,3,4" %}
                                                    минуты
                                                {% else %}
                                                    минут
                                                {% endif %}
                                            </h6>
                                        {% endwith %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="follows">
                    <div class="follows_title">
                        <h4>Мои подписки:</h4>
                    </div>
                    {% for follow in follows %}
                        <div class="follow">
                            <div class="follow_data">
                                <div class="follow_avatar">
                                    <img src="{{ MEDIA_URL }} {{ follow.following_users.avatar.url }}"
                                         alt="{% static 'images/default-avatar.png' %}">
                                </div>
                                <div class="follow_username">
                                    <a href="{% url 'profile' follow.following_users.slug %}">
                                        <h4>{{ follow.following_users.username }}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static "js/online.js" %}"></script>
{% endblock content %}
