{% extends "base.html" %}
{% block title %}
    |Авторизация
{% endblock title %}
{% block content %}
    <section class="singin__title">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <div class="title_text">
                        {% if not user.is_authenticated %}
                            <h2>Вход</h2>
                            <p>Добро пожаловать на наш сайт!</p>
                        {% else %}
                            <h2>Вы уже авторизированы</h2>
                        {% endif %}
                    </div>
                </div>
                {% if not user.is_authenticated %}
                    <div class="col-lg-12">
                        <div class="singin__form">
                            <div class="title__singin__form">
                                {% for message in messages %}<div class="message-{{ message.tags }}">{{ message }}</div>{% endfor %}
                            </div>
                            <form method="post" action="{% url "singin" %}">
                                {% csrf_token %}
                                <div class="input__item">
                                    <i class="fa-solid fa-user"></i>
                                    <input type="text"
                                           name="username"
                                           id="username"
                                           placeholder="Имя пользователя">
                                </div>
                                <div class="input__item">
                                    <i class="fa-solid fa-lock"></i>
                                    <input type="text" name="password" id="password" placeholder="Пароль">
                                    <div class="forget_password">
                                        Забыли пароль? <a href="{% url 'reset_password' %}">Восстановить!</a>
                                    </div>
                                </div>
                                <button type="submit" class="site-btn">Вход</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="logout text-center">
                    <h3>Выйти из аккаунта?</h3>
                    <a href="{% url 'logout' %}" class="primary-btn">Выйти</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}
