.icon_profile {
	font-family: FontAwesome;
}


.singup__form {
	width: 500px;
  	margin-left: auto;
  	margin-right: auto;
}

.section {
	margin-top: 2px !important;
}

.singup__form button {
	margin: 10px auto 0;
	display: block;
	font-size: 12px;
	color: #ffffff;
	background: #a9d18e;
	font-weight: 700;
	border: none;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 12px 30px;
}

.singup__form h5 {
	margin-top: 15px;
	text-align: center;
}
.singup__form a {
	color: #a9d18e;
}

.input__item {
	width: 500px;
	display: block;
}

.input__item input{
	width: 475px;
	margin-bottom: 10px;
}

.input__item ::placeholder {
	color: black;
	font-size: 1.5em;
	text-align:center;
}

section {
  margin-top: 140px;
}

.signup {
	margin-top: 17px;
}

.title_text h2 {
	font-size: 48px;
}

.title_text p {
	font-size: 16px;
}

.signup .login__form h5 {
	font-size: 15px;
	color: #ffffff;
	margin-top: 36px;
}

.signup .login__form h5 a {
	color: #e53637;
	font-weight: 700;
}

.title__singup__form {
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	text-align: center;
}

.singin__form {
	margin-top: 17px;
	width: 500px;
  	margin-left: auto;
  	margin-right: auto;
}

.singin__form button {
	margin: 10px auto 0;
	display: block;
	font-size: 12px;
	color: #ffffff;
	background: #a9d18e;
	font-weight: 700;
	border: none;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 12px 30px;
}

.forget_password {
	text-align: center;
}

.forget_password a:hover {
	color: #a9d18e !important;
}

.title__singin__form {
	text-align: center;
	font-size: 20px;
}

.message_error {
	color: #e53637
}

.message_success {
	color: #a9d18e;
}

.message-error-singup {
	color: red;
	display: block;
}

.icon__profile {
	padding-left: 0 !important;
	max-width: 45px;
	max-height: 50px;
}

/*---------------------
  Profile Detail
-----------------------*/

.profile_detail {
	margin-top: 100px;
	padding-left: 200px;
	display: block;
    position: relative;
}

.profile_detail_top {
	display: flex;
}

.profile_detail_bottom {
	display: flex;
}

.profile_detail__title {
	display: inline-flex;
}

.profile_detail__icon {
	height: auto;
	width: auto;
	max-height: 152px;
	max-width: 152px;
}

.profile_detail__text {
	margin-left: 20px;
}

.profile_detail__text a{
	margin-top:10px;
	color: black !important;
}

.profile_detail__text a:hover {
	color: #a9d18e !important;
}

.profile_detail__link__text {
	padding-top:20px;
}

.another_profile_detail {
	margin-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center !important;
    padding-right: 75px;
}

.profile_courses {
	margin-left: 13em;
	display: block;
}

.profile_courses__title {
	margin-bottom: 1em;
}

.profile_course {
  	margin-bottom: 2em;
  	border-radius: 20px;
  	background: #a9d18e;
  	display: flex;
}

.profile_course__poster {
  	margin-left: 2em;
  	max-width: 10em;
  	max-height: 10%;
}

.profile_course__poster > img {
  	width: 100%;
	height: 100%;
}

.profile_course_body {
  	margin-left: 2em;
}

.rating_button {
	margin-bottom: 20px;
}

.month_activity_button {
	display: none;
}

.rating_canvas {
	width: 800px !important;
	height: 400px !important;
}

.self_rating_month_data {
	display: none;
}

.self_rating_week_data {
	display: none;
}

.self_rating_week {
	display: none;
}

.top_rating {
	display: none;
}

.top_rating__title {
	margin-bottom: 20px;
}

.top_rating__user {
	display: flex;
	margin-bottom: 20px;
}

.top_rating__profile {
	display: flex;
}

.top_rating_profile__avatar img {
	width: 50px;
	height: 50px;
}

.top_rating_profile__username {
	margin-left: 20px;
	margin-top: 13px;
}

.top_rating__online {
	margin-left: 20px;
	margin-top: 13px;
}

.follows {
	margin-left: 5em;
	display: block;
}

.follows_title {
	margin-bottom: 10px;
}

.follow_data {
	display: inline-flex;
	margin-bottom: 15px;
}

.follow_avatar img {
	width: 50px;
	height: 50px;
}

.follow_username {
	margin-left: 10px;
}

.follow_username a {
	color: black;
}

/*---------------------
  Edit profile
-----------------------*/

.edit_profile_detail {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.edit_profile_detail__title {
	display: inline-flex;
}

.edit_profile_detail__form {
	text-align: center;
	width: 500px;
  	margin-left: auto;
  	margin-right: auto;
}

.profile_detail__edit input {
	width: 400px;
	display: inline-flex;
}

.profile_detail_edit__form button {
	margin: 10px auto 0;
	display: block;
	font-size: 12px;
	color: #ffffff;
	background: #a9d18e;
	font-weight: 700;
	border: none;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 12px 30px;
}

/*---------------------
  Course list
-----------------------*/
.course {
	display: inline-flex;
	border-radius: 20px;
	background: #a9d18e;
	margin-bottom: 20px;
}

.course__info {
	margin-left: 20px;
	display: block;
}

.course__image {
	width:200px;
	height: 200px;
}

.course__image img {
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.course__level {
	color: rgba(54, 48, 48, 0.7);
	padding-bottom: 10px;
}

.course__title a {
	margin-top: 10px;
	color: black;
}

.course__title a:hover {
	color: #a9d18e;
}

.course__price {
	padding-top: 80px;
}

/*---------------------
  Course detail
-----------------------*/

.course_detail {
	margin-top: 8%;
}

.course_detail__info {
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.course_detail__image {
	background: #a9d18e;
	border-radius: 2.5em;
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
}

.course_detail__image img{
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	align-self:center;
}

.course_detail__text {
	margin-top: 2%;
	display:block;
	text-align: center;
}

.course_detail__description {
	margin-top: 1%;
	text-align: left;
}

/*---------------------
  Course passing
-----------------------*/

.course_passing_main {
	margin-top: 1%;
	text-align: left;
}

.course_passing_module {
	margin-bottom: 2%;
}

.course_passing_module_lesson__title a {
	margin-top: 10px;
	color: black;
}

.course_passing_module_lesson__title a:hover {
	color: #a9d18e;
}


/*---------------------
  Lesson passing
-----------------------*/

.lesson {
	display: flex;
}

.lesson_plan {
	position: fixed;
	margin-top: 5%;
	z-index: 10000000;
	max-width: 25%;
}

.lesson_plan ::after {
	content: '';
    position: absolute;
    top: -50%;
    bottom: -50%;
    right: 0;
	left: 125%;
    width: 4px;
    background-color: #a9d18e;

}

.lesson_plan__title {
	margin-bottom: 3%;
}

.title_lesson {
	margin-left: 20%;
	margin-bottom: 1em;

}

.lesson_title__title {
	text-align: center;
}

.lesson_slug {
	display: none;
}

.lesson_plan_part_exercise__title a{
	color:black;
}

.lesson_plan_part_exercise__title a:hover{
	color:#a9d18e;
}

.lesson_plan_theory_part {
	margin-bottom: 3%;
}

.lesson_plan_part {
	margin-bottom: 3%;
}

.lesson_plan_part_info {
	display: inline-flex;
}

.lesson_plan_part_info__title {
	margin-right: 1em;
}

.lesson_plan_part_info__title button {
	outline: none;
 	border:none;
	background: transparent;
}

.lesson_plan_part_info__progress_bar {
	display: flex;
}

.lesson_plan_part__title button {
	outline: none;
 	border:none;
	background: transparent
}

.exercises_list {
	margin-left: 30em;
	text-align: center;
}

.exercises_practical {
	display: none;
}

.exercises_homework {
	display: none;
}

.exercise_theory__title {
	margin-bottom: 2%;
}

.exercise__title {
	margin-bottom: 2%;
}


.exercise__video {
	margin-bottom: 2%;
}

.exercise__audio {
	margin-bottom: 2%;
}

.exercise__video video {
	width: 50%;
	height: 25%;
}

.exercises_practical__list {
	display: flex;
}

.exercise_practical__completed__link {
	margin-right: 1em;
}

.exercise_practical__completed__link button {
	background: #a9d18e;
}

.exercise_practical__link {
	margin-right: 1em;
}

.exercise_practical__link button {
	background: grey;
}

.exercise_practical {
	display: none;
}

.exercise__answers {
	margin-top: 2em;
	display: flex;
	justify-content: center;
  	align-items: center;
}

.exercise__answer {
	margin-right: 5em;
	justify-content: center;
  	align-items: center;
}

.exercise__answer button {
	background: #a9d18e;
}
