<section class="contact-us" id="contact-section">
    <div>
        <div class="col-lg-12">
            <ul class="social-icons">
                <li>
                    <a href="email"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send/?phone=0&text=Здравствуйте%2C+заинтересовали+ваши+курсы%21"><i class="fa-brands fa-whatsapp"></i></a>
                </li>
                <li>
                    <a href="https://t.me/test"><i class="fa-brands fa-telegram"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <p class="copyright">
                Copyright © 2022 EduWell Co., Ltd. All Rights Reserved.
                <br>
                Design: <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                <br>
                Distribution: <a rel="sponsored" href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
</section>
